<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vue JS Pokedex</title>
    <meta name="author" content="Ben Jacobson">
    <meta name="description" content="Pokedex">
    <meta name="keywords" content="Pokedex, Pokemon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./style.css" />
</head>

<body>

    <script type='text/x-template' id='pokemon-listview-card-template'>
        <div class="swiper-slide">
            <div class="pokecard vertical-margin-40px col-sm-4">
                <div v-if='pokemon.loaded' class="card">
                    <img class="card-img-top" :src="pokemon.sprites.front_default" :alt="pokemon.name">
                    <div class="card-body">
                        <h5 class="card-title pokemon-name">#{{ pokemon.id }} {{ pokemon.name | capitalize }}</h5>   
                        <pokemon-type-badge v-for="type in pokemon.types" v-bind:key="type.type.name" v-bind:type='type.type.name'></pokemon-type-badge>
                        <p class="card-text pokemon-description"></p>                                    
                        <div class="text-center"><button @click='more_info' class="btn btn-primary">More Info</button></div>
                    </div>                            
                </div>
                <div v-else class="card">                            
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>  
                    </div>
                </div>                                
            </div>                                
        </div> 
    </script>

    <script type='text/x-template' id='pokemon-type-badge-template'>
        <!--div v-if='pokemon.types.includes("Grass")' class="poke-type grass-type"><b class="poke-type">Grass</b></div>
        <div v-if='pokemon.types.includes("Poison")' class="poke-type poison-type"><b class="poke-type">Poison</b></div -->

        <div class="poke-type" v-bind:class="type"><b class="poke-type">{{ type | capitalize }}</b></div>
    </script>

    <script type='text/x-template' id='pokemon-detailview-template'>
        <div v-if='pokemon.loaded'class='row'>
            <div class='col-sm-4'>
                <img v-if='pokemon.loaded' class='infobox-img vertical-margin-40px' :src="pokemon.sprites.front_default" :alt="pokemon.name" />
                <div v-else>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>  
                    </div>
                </div>
            </div>
            <div class='col-sm-8 infobox-description vertical-margin-40px'>
                <table class='pokemon-stats'>
                    <tr>
                        <td class='stat-labels'>Id</td>
                        <td class='stat-labels'>Type</td>
                        <td class='stat-labels'>Weight</td>
                        <td class='stat-labels'>Height</td>
                        <td class='stat-labels'>Abilities</td>
                    </tr>
                    <tr>
                        <td class='stat-text'>#{{ pokemon.id }}</td>
                        <td class='stat-text'>{{ pokemon.types_string }}</td>
                        <td class='stat-text'>{{ pokemon.weight }} kg</td>
                        <td class='stat-text'>{{ pokemon.height }} cm</td>
                        <td class='stat-text'>{{ pokemon.abilities }}</td>
                    </tr>
                </table>

                <h2 class="pokemon-name">{{ pokemon.name | capitalize }}</h2>
                <p>
                    {{ pokemon.description }}
                </p>

            </div>
        </div>
    </script>

    <nav class="navbar navbar-expand-lg">
        <h1 class='white-header'>Vue JS Pokedex</h1>
    </nav>

    <div id='pokedex' class="container">
        <div id='infobox' class="row">
            <div class="infobox vertical-margin-40px col-sm-12">
                <pokemon-detailview v-bind:pokemon='first_gen_pokemon[viewing_id - 1]'></pokemon-detailview>
            </div>
        </div>
        <div id='cards' class="row">
            <div class="listbox col-sm-12">
                <div id='pokemon-cards' class="swiper-container">
                    <div class="swiper-wrapper">
                       <pokemon-listview-card @update-detail-view='update_detail_view' v-for="pokemon in first_gen_pokemon" v-bind:key="pokemon.id - 1" v-bind:pokemon='pokemon'></pokemon-listview-card>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>                           
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- using development version -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="./setup_swiper.js"></script>
    <script src="./pokedex.js"></script>
</body>

</html>