/* structural styling */

body {
    background: #30343F;
    /* Color scheme: https://coolors.co/ffcb32-2a60a6-f95453-30343f-ffffff */
}

img {
    image-rendering: pixelated; /* We want to keep the 8-bit look of first gen pokemon */
}

p, h1, h2, h3, h4, h4, h5, h6 {
    color: #232C33;
}

p {}

h1, h2, h3, h4, h4, h5, h6 {}

h1.white-header {
    color: #FFFFFF;
    font-size: 2em;
}

.spinner-grow {
    margin-top: 184px;  /* card is 400px tall, spinner is 32px tall 400 / 2 - 32 / 2*/
}

.card {
    min-height: 400px;
}

.navbar {
    background-color: #F95453;
    margin-bottom: 20px;
}

.vertical-margin-40px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.infobox {}

.infobox, .listbox {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

/* pokemon card styling */

.pokecard {
    display: inline;
}

.pokemon-name {
    display: inline;
}

.pokemon-description {
    margin-top: 20px;
}

/* styling pokemon information box */

.infobox-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.infobox-description {}

.pokemon-stats {
    background-color: #2A60A6;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stat-labels {
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
}

.stat-text {
    color: #ffffff;
    padding: 10px;
}

/* Styling of pokemon types */

.name-and-type {}

b.poke-type {
    color: white;
}

div.poke-type {
    display: inline;
    float: right;
    padding: 3px;
    line-height: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -icab-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    font-size: 75%;
    margin: 2px;
    margin-top: 4px;
}

div.grass-type {
    background: #78C850;
}

div.poison-type {
    background: #A040A0;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #F95453;
    border-color: #702525;
}

.btn-primary:hover {
    background-color: #D64646;
    border-color: #702525;
}

/* Scrollbar styles */

/*
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #FFFFFF;
}*/

.swiper-container {
    width: 100%;
}